thingsboard/node_red_data/.flows.json.backup
[
    {
        "id": "0795a34cbf19c91e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d90e15c7ee58129a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "afa22809df0e65cf",
        "type": "mqtt out",
        "z": "0795a34cbf19c91e",
        "name": "GYiQ5eKw92DvJ21kMw07",
        "topic": "v1/devices/me/telemetry",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d90e15c7ee58129a",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "d1a8b29350630025",
        "type": "inject",
        "z": "0795a34cbf19c91e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":25}",
        "payloadType": "json",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "afa22809df0e65cf",
                "af8e62cc3a61300a"
            ]
        ]
    },
    {
        "id": "af8e62cc3a61300a",
        "type": "debug",
        "z": "0795a34cbf19c91e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 140,
        "wires": []
    }
]